[alias]
	co = checkout
	ci = commit
	st = status
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
# Add your username and email here
	name = Your Name
	email = user@example.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
  fileMode = false
[push]
	default = simple
[color]
	ui = auto
